.kinsection {
    height: 100vh;
}

.sealposition{
    display: flex;
    justify-content: center;
    margin-top: 1vh;    
}

.seal {
    height: 25vh;
    border-radius: 50%; 
    display: flex;
    
}

.tone {
    height: 25vh;
    position: relative;
    overflow: visible;
}

.props {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 1250px) {
    
    h1{
        display: flex;
        justify-content: center;
    }
}

.nameandimage {
    display: flex;
}

.littleseal {
    border-radius: 50%;
    height: 4vh;
}

.littletone {
    height: 4vh;
}

.oracle {
    border-radius: 50%;
    height: 10vh;
}

.animate__animated.animate__flash {
    --animate-repeat: 2;
  }